Screen {
    background: $surface;
    color: $text;
}

#app-grid, #controls, #right-panel, #streams-container, #devices-container {
    box-sizing: border-box;
}

#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 40 1fr;
    grid-rows: 1fr;
    height: 100%;
    width: 100%;
    grid-gutter: 1;
    padding: 0 1;
}

#controls {
    padding: 1;
    border: round $primary;
    background: $primary-background;
    overflow-y: auto;
}

#controls Static {
    margin-top: 1;
}

#controls Input {
    margin-bottom: 1;
}

#right-panel {
    layout: vertical;
    height: 100%;
    width: 100%;
}

#streams-container, #devices-container {
    padding: 1;
    height: 1fr;
}

#streams-container {
    border: round $secondary;
    background: $secondary-background;
    margin-bottom: 1;
}

#devices-container {
    border: round $accent;
    background: $link-background;
}

.title {
    content-align: center middle;
    width: 100%;
    margin-bottom: 1;
    text-style: bold underline;
}

#controls .title {
    text-align: center;
    text-style: bold;
}

DataTable {
    height: 1fr;
    margin-bottom: 1;
}

.buttons {
    align: center middle;
    width: 100%;
    height: auto;
    margin-top: 1;
}

Button {
    min-width: 8;
    width: auto;
    margin: 0 1;
}